.cardHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 25px;
  padding-top: 0px;
  gap: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
}

#left {
  display: flex;
  gap: 50px;
  align-items: center;
}

header h1 {
  font-size: 46px;
}

header h1:hover {
  cursor: pointer;
}

button {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

h2 {
  text-align: right;
}
